html {
    box-sizing: border-box;
    font-size: 2vw;
}

/* grid layout */

#calculator {
    margin: 1rem;
}

#calculator > .calc_zone {
    display: block;
}

#calculator > .calc_zone + .calc_zone {
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    border-top: 0.1rem solid black;
}

#calculator > .calc_zone > .quip {
    display: block;
    height: 3rem;
    margin: 0 0 1.5rem 0;
}

#calculator > .calc_zone > .focus_box {
    display: inline-block;
}

#calculator > .calc_zone > .disp {
    display: inline-block;
    height: 3rem;
    padding: 0 0 0 1.5rem;
}

#calculator > .calc_zone > #entry_level {
    display: inline-block;
    width: 12rem;
    height: 3rem;
    padding: 0 0 0 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator > .calc_zone > #entry_level > label {
    display: block;
    padding: 0 0 0.5rem 0;
    font-weight: bolder;
}

#calculator > .calc_zone > .disp > .labeled_val {
    display: inline-block;
    width: 12rem;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator > .calc_zone > .disp > .labeled_val > .label {
    display: block;
    padding: 0 0 0.5rem 0;
    font-weight: bolder;
}

@media all and (min-width: 1000px) {
    html { font-size: 20px; }
}

@media all and (max-width: 520px) {
    html { font-size: 18px; }
}

/*
    radio buttons, and everything
    tangentially related
*/

@keyframes button_hover_fade_in {
    to { opacity: 100%; }
}

@keyframes button_check_fade_in {
    to { opacity: 100%; background-color: pink; border-radius: 1rem; }
}

.radio > .radio_input > .radio_control {
    display: inline-block;
    opacity: 50%;
    border-radius: 2rem;
}

.radio > .radio_input > .radio_control > img {
    width: 3rem;
}

.radio > .radio_input > input:hover + .radio_control {
    animation: button_hover_fade_in 200ms;
    animation-fill-mode: forwards;
}

.radio > .radio_input > input:checked + .radio_control {
    animation: button_check_fade_in 200ms;
    animation-fill-mode: forwards;
}

.radio > .radio_input > input {
    opacity: 0;
    width: 0;
    height: 0;
}
